@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-color: black;
    height: 160px;
    margin-bottom: 25px;
}

header > h1 {
    font-family: 'Great Vibes', cursiva;
    font-size: 4.8em;
    text-align: center;
    padding: 9px;
    margin-bottom: 15px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 9px;
    font-weight: bolder;
}

nav > a:hover {
    position: fixed;
    text-decoration: underline;
    translate: 3px 1px;
}