@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    color: white;
    background-color: black;
    height: 160px;
    margin-bottom: 25px;
}

header > h1 {
    font-family: 'Great Vibes', cursiva;
    font-size: 4.8em;
    text-align: center;
    padding: 9px;
    margin-bottom: 15px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 9px;
    font-weight: bolder;
    box-sizing: border-box;
}

nav > a:hover {
    text-decoration: underline;
}

div {
    width: 65vw;
    height: 95vh;
    margin: auto auto 25px auto;
    border-radius: 20px;
}


div#balada {
    position: relative;
    background-image: url(imagens-balada/balada01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 3px 3px 5px black;
}

div#gravida {
    position: relative;
    background-image: url(imagens-gravida/gravida02.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 3px 3px 5px black;
}

div#marizete {
    position: relative;
    background-image: url(imagens-marizete/mari02.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    box-shadow: 3px 3px 5px black;
}

div > a {
   display: none;
}

div:hover a {
    position: absolute;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.345);
    text-align: center;
    padding: 15px;
    width: 30vw;
    text-decoration: none;
    font-family: 'Great Vibes', cursiva;
    font-size: 2.5em;
    border-radius: 15px;
    
}

footer > p{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    font-family: 'Great Vibes', cursiva;
    font-size: 3em;
}